:root {
    --cursor-color: #000000;
    --canvas-color: #ffffff;

    --color1: #011936;
    --color2: #02234B;
    --color3: #DE369D;
    --color4: #F2F7F2;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color1);
    margin: 0;
    padding: 0;
    color: var(--color3);
    font-family: 'Nunito', sans-serif;
}

.box {
    display: flex;
}

button {
	color: inherit;
	border: 1.5px solid var(--color3);
	cursor: pointer;
    background-color: var(--color2);
    width: auto;
    height: 40px;
    padding: 0;
    margin: 7px 0px;
    border-radius: 5px;
    font-weight: 600;
}

#grid-container {
    display: grid;
    width: 550px;
    height: 550px;
    background-color: var(--canvas-color);
    border: 30px solid var(--color2);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    margin-bottom: 100px;
    font-size: 75px;
}

.settings {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 100px;
    background-color: var(--color2);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-lines {
    border: 0.5px solid var(--color2);
}

.filled-pixel {
    user-select: none;
}

.active-button {
    background-color: var(--color3);
    color: var(--color2);
}

.slide-container {
    width: 100%; /* Width of the outside container */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px 0px;
    padding: 0px;
}
  
.slider {
    margin-bottom: 15px;
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 5px;  
    background: var(--color4);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: var(--color3);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--color3);
    cursor: pointer;
}

.settings {
    width: 250px;
}

.picker-box {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

h2 {
    margin: 20px 0px 5px;
}

input[type="color"] {
    background: none;
    border: none;
    padding: 0px;
    border: none;
    width: 70px;
    height: 40px;
    margin-right: 8px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.02);
}

input[type='color']:hover {
    transform: scale(1.08);
}

#grid-container div {
    cursor: crosshair;
}

#grid-container div:hover {
    background-color: var(--cursor-color) !important;
    background-image: none;
}